* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 70vh;
}

h1 {
	margin-bottom: 20px !important;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
}

#toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black !important;
}

#data {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

input {
	margin: 10px !important;
}

td {
	padding: 10px;
}

#updel p {
	margin: 20px 15px;
	display: inline-block
}

#updateform {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#deleteform {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
