* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 70vh;
}

h1 {
	margin-bottom: 20px !important;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black !important;
}

table {
	margin: auto;
}