{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/'>
	{{ form1.csrf_token }}
	{{ form1.hidden_tag() }}

	{{ form1.name.label }}
	{{ form1.name }}

	{{ form1.birthdate.label }}
	{{ form1.birthdate }}

	{{ form1.submit }}
</form>

<p id="toggle"> See data! </p>

	<!-- testing if input is inserting into urls table -->
	<div id="data">
		<table>
			{% for i in test %}
			<tr>
				<td> {{ i[0] }} </td>
				<td> {{ i[1] }} </td>
				<td> {{ i[2] }} </td>
			</tr>
			{% endfor %}
		</table>
		<div id="updel">
			<p id="update_toggle"> Update </p>
			<p id="delete_toggle"> Delete </p>
		</div>
		<div class="container">
			<div id="updateform">
				{{ form1.name.label }}
				{{ form2.name_update }}

				{{ form1.birthdate.label }}
				{{ form2.birthdate_update }}

				{{ form2.submit_update }}
			</div>
			<div id="deleteform">
				{{ form1.name.label}}
				{{ form3.name_delete }}
				{{ form3.submit_delete }}
			</div>
		</div>
	</div>
	

{% endblock %}