{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/'>
	{{ form.csrf_token }}
	{{ form.hidden_tag() }}

	{{ form.name.label }}
	{{ form.name }}

	{{ form.birthdate.label }}
	{{ form.birthdate }}

	{{ form.submit }}
</form>

<p id="toggle"> See data! </p>

	<!-- testing if input is inserting into urls table -->
	<div id="data">
		<table>
			{% for i in test %}
			<tr>
				<td> {{ i[0] }} </td>
				<td> {{ i[1] }} </td>
				<td> {{ i[2] }} </td>
			</tr>
			{% endfor %}
		</table>
	
	</div>
	

{% endblock %}