{% extends 'base.html' %}
{% block title %} Index {% endblock %} 
{% block content %}
<h1> Birthday Entry for Forgetful Friends </h1>

<form method='POST' action='/'>
	{{ form.csrf_token }}
	{{ form.hidden_tag() }}

	{{ form.name.label }}
	{{ form.name }}

	{{ form.birthdate.label }}
	{{ form.birthdate }}

	{{ form.submit }}
</form>

<p id="toggle"> See data! </p>

	<!-- testing if input is inserting into urls table -->
	<div id="data">
		<table>
			{% for i in test %}
			<tr>
				<td> {{ i[1] }} </td>
				<td> {{ i[2] }} </td>
				<td> {{ i[3] }} </td>
				<td> <a href='/update/{{i[0]}}' class="btn btn-sm btn-outline-primary"> Update </a> </td>
				<td> <a href='#' class='btn btn-sm btn-outline-secondary'> Delete </a> </td>
			</tr>
			{% endfor %}
		</table>
	
	</div>
	

{% endblock %}